<% if @name %>
  <%= erb :_post, layout: false %>
<% end %>

<h3><%= @user %> さんのツイート</h3>

<% if @mypage %>
  <h4>あなたのページです</h4>
<% elsif @is_friend %>
  <form action="/unfollow" method="post">
    <input type="hidden" name="user" value="<%= @user %>">
    <button type="submit" id="user-unfollow-button">アンフォロー</button>
  </form>
<% elsif @name %>
  <form action="/follow" method="post">
    <input type="hidden" name="user" value="<%= @user %>">
    <button type="submit" id="user-follow-button">フォロー</button>
  </form>
<% end %>

<div class="timeline">
  <%= erb :_tweets, layout: false %>
</div>
<button class="readmore">さらに読み込む</button>
